# Ignorar arquivos de sistema
*.DS_Store

# Ignorar diretório de build
/build/
.ipynb_checkpoints/
venv/

/Income Statement (DRE)
/Income_Statement_ETL.docx
/Income Statement

# Ignorar arquivos de configuração local
.env