# Ignorar arquivos de sistema
*.DS_Store

# Ignorar diretório de build
/build/
.ipynb_checkpoints/
venv/

/Income Statement (DRE)
/Income_Statement_ETL.docx
/Income Statement
*.docx
*.pbix

/Income Statement/*.docx
/Income Statement/*.pbix

# Ignorar arquivos de configuração local
.env